# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Dependency directories
node_modules/
dist/

# Temporary files and directories
craftcms-db.sql

# Auth files
.ftppass

# Vagrant files
.vagrant

# Compiled files in theme
# tbd.
