{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="home" href="{{ siteUrl }}" />
  <!-- <link rel="stylesheet" href="{{ siteUrl }}static/index.css"> -->
</head>

<body>

	<header class="header">
    HEADER
		<h1 class="header__headline"><a class="link" href="{{ siteUrl }}">Maria</br>Mair</a></h1>

    <div class="header__about">
      {{ entry.ueberMaria }}
    </div>
	</header>

	<main class="main" role="main">
    MAIN
		{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}
	</main>

  <footer class="footer">
    {{ entry.footer }}
  </footer>

  <script type="text/javascript" src="{{ siteUrl }}static/manifest.js"></script>
  <script type="text/javascript" src="{{ siteUrl }}static/vendor.js"></script>
  <script type="text/javascript" src="{{ siteUrl }}static/index.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet"> -->

</body>
</html>
