.header {
  position: relative;
  margin: 10vh 0 5vh;

  @media (min-width: 48em) {
    margin: 10vh 0 5vh;
  }

  @media (min-width: 80em) {
    margin: 15vh 0 5vh;
  }

  &__headline {
    position: relative;
    font-size: 10vw;
    margin: 0;
    z-index: 1;

    a {
      display: block;
    }

    @media (min-width: 48em) {
      font-size: 10vw;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    position: absolute;
    z-index: 0;
    top: -10vh;
    right: -7vh;
    width: 50vw;

    @media (min-width: 48em) {
      right: -10vw;
    }

    @media (min-width: 64em) {
      top: -15vh;
    }

    @media (min-width: 80em) {
      top: -20vh;
    }
  }
}
