.header {
  position: relative;
  margin-top: 18vh;
  margin-bottom: 5vh;
  padding-bottom: 66%;

  @media (min-width: 64em) {
    padding-bottom: 50%;
  }

  @media (min-width: 80em) {
    margin-top: 27vh;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70%;
    width: 2px;
    background: black;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 15vw;
    background: black;
  }

  &__headline {
    position: relative;
    font-size: 10vw;
    margin: 0;
    z-index: 1;

    a {
      display: block;
    }

    @media (min-width: 48em) {
      font-size: 10vw;
    }

    @media (min-width: 64em) {
      font-size: 8vw;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    position: absolute;
    z-index: 0;
    top: -9vh;
    right: -5vh;
    width: 50vw;

    @media (min-width: 48em) {
      right: -8vw;
    }

    @media (min-width: 64em) {
      top: -15vh;
      right: -4vh;
      width: 40vw;
    }

    @media (min-width: 80em) {
      top: -20vh;
    }
  }
}
