.main {

  @media (min-width: 48em) {

  }

  h2 {
    font-size: 7.5vw;

    @media (min-width: 64em) {
      font-size: 5vw;
    }
  }

  &__item {
    font-size: 5vw;
    margin: 7vh 0;

    @media (min-width: 64em) {
      font-size: 2.5vw;
      margin: 12vh 0 12vh 15vw;
      text-align: justify;
    }
  }

  &__portfolio {
    position: relative;
    margin: 10vh 0 7vh;
    padding: 5vh 0;
    font-size: 5vw;

    @media (min-width: 64em) {
      font-size: 2.5vw;
      margin: 12vh 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 70vw;
      height: 2px;
      background: black;
      display: block;

      @media (min-width: 64em) {
        width: 65vw;
        right: inherit;
        left: 0;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 1%;
      width: 2px;
      background: black;
      display: block;

      @media (min-width: 64em) {
        right: inherit;
        left: 65vw;
        height: 100%;
      }
    }

    ul {
      list-style-type: square;

      @media (min-width: 64em) {
        width: 56vw;
      }

      li {
        margin: 4vh 0;
      }
    }
  }
}
