.imprint {
  font-size: 4vw;

  @media (min-width: 48em) {
    font-size: 3vw;
  }

  @media (min-width: 64em) {
    font-size: 2vw;
  }

  @media (min-width: 80em) {
    font-size: 1.2vw;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 4vh 0;
  }
}
