@import "core/normalize";

@import "header/header";
@import "link/link";
@import "main/main";

body {
  font-family: 'Inconsolata', 'Times New Roman', serif;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  padding: 15px;
  overflow: hidden;

  &:before {
    position: absolute;
    display: block;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    background-color: #FAFAFA;
    content: '';
  }
}
