@import "core/normalize";

@import "link/link";
@import "main/main";
@import "footer/footer";

body {
  font-family: 'Old Standard TT', serif;
  // font-family: 'Inconsolata', 'Times New Roman', serif;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 900px;
  margin: 0 auto;
}
